// Variables
// --------------------------

$xa-font-path:        "../fonts" !default;
$xa-css-prefix:       xa !default;
$xa-version:          "0.1.0" !default;
$xa-border-color:     #eee !default;
$xa-inverse:          #fff !default;
$xa-li-width:         (30em / 14) !default;

$xa-var-icon-ayonae-ro: "\eaf0";
$xa-var-icon-bear: "\e900";
$xa-var-icon-zigzag-leaf: "\e901";
$xa-var-icon-zebra-shield: "\e902";
$xa-var-icon-x-mark: "\e903";
$xa-var-icon-wyvern: "\e904";
$xa-var-icon-wrench: "\e905";
$xa-var-icon-wooden-sign: "\e906";
$xa-var-icon-wolf-howl: "\e907";
$xa-var-icon-wolf-head: "\e908";
$xa-var-icon-wireless-signal: "\e909";
$xa-var-icon-wifi: "\e90a";
$xa-var-icon-water-drop: "\e90b";
$xa-var-icon-virgo: "\e90c";
$xa-var-icon-vine-whip: "\e90d";
$xa-var-icon-vial: "\e90e";
$xa-var-icon-vest: "\e90f";
$xa-var-icon-venomous-snake: "\e910";
$xa-var-icon-vase: "\e911";
$xa-var-icon-unplugged: "\e912";
$xa-var-icon-underhand: "\e913";
$xa-var-icon-uncertainty: "\e914";
$xa-var-icon-two-hearts: "\e915";
$xa-var-icon-two-dragons: "\e916";
$xa-var-icon-turd: "\e917";
$xa-var-icon-trophy: "\e918";
$xa-var-icon-triforce: "\e919";
$xa-var-icon-trident: "\e91a";
$xa-var-icon-trefoil-lily: "\e91b";
$xa-var-icon-trail: "\e91c";
$xa-var-icon-tower: "\e91d";
$xa-var-icon-torch: "\e91e";
$xa-var-icon-tooth: "\e91f";
$xa-var-icon-tombstone: "\e920";
$xa-var-icon-toast: "\e921";
$xa-var-icon-tic-tac-toe: "\e922";
$xa-var-icon-three-keys: "\e923";
$xa-var-icon-thorny-vine: "\e924";
$xa-var-icon-thorn-arrow: "\e925";
$xa-var-icon-tesla: "\e926";
$xa-var-icon-tentacle: "\e927";
$xa-var-icon-telescope: "\e928";
$xa-var-icon-taurus: "\e929";
$xa-var-icon-targeted: "\e92a";
$xa-var-icon-target-laser: "\e92b";
$xa-var-icon-target-arrows: "\e92c";
$xa-var-icon-syringe: "\e92d";
$xa-var-icon-surveillance-camera: "\e92e";
$xa-var-icon-supersonic-arrow: "\e92f";
$xa-var-icon-super-mushroom: "\e930";
$xa-var-icon-sunbeams: "\e931";
$xa-var-icon-sun: "\e932";
$xa-var-icon-sun-symbol: "\e933";
$xa-var-icon-suits: "\e934";
$xa-var-icon-suckered-tentacle: "\e935";
$xa-var-icon-stopwatch: "\e936";
$xa-var-icon-sprout: "\e937";
$xa-var-icon-sprout-emblem: "\e938";
$xa-var-icon-spray-can: "\e939";
$xa-var-icon-splash: "\e93a";
$xa-var-icon-spiral-shell: "\e93b";
$xa-var-icon-spinning-sword: "\e93c";
$xa-var-icon-spiked-tentacle: "\e93d";
$xa-var-icon-spiked-mace: "\e93e";
$xa-var-icon-spikeball: "\e93f";
$xa-var-icon-spider-face: "\e940";
$xa-var-icon-speech-bubbles: "\e941";
$xa-var-icon-speech-bubble: "\e942";
$xa-var-icon-spear-head: "\e943";
$xa-var-icon-spawn-node: "\e944";
$xa-var-icon-spades: "\e945";
$xa-var-icon-spades-card: "\e946";
$xa-var-icon-soccer-ball: "\e947";
$xa-var-icon-snowflake: "\e948";
$xa-var-icon-snorkel: "\e949";
$xa-var-icon-snake: "\e94a";
$xa-var-icon-snail: "\e94b";
$xa-var-icon-small-fire: "\e94c";
$xa-var-icon-slash-ring: "\e94d";
$xa-var-icon-skull: "\e94e";
$xa-var-icon-skull-trophy: "\e94f";
$xa-var-icon-site: "\e950";
$xa-var-icon-sideswipe: "\e951";
$xa-var-icon-sickle: "\e952";
$xa-var-icon-shuriken: "\e953";
$xa-var-icon-shovel: "\e954";
$xa-var-icon-shotgun-shell: "\e955";
$xa-var-icon-shot-through-the-heart: "\e956";
$xa-var-icon-shoe-prints: "\e957";
$xa-var-icon-ship-emblem: "\e958";
$xa-var-icon-shield: "\e959";
$xa-var-icon-sherif: "\e95a";
$xa-var-icon-sheep: "\e95b";
$xa-var-icon-shark: "\e95c";
$xa-var-icon-seagull: "\e95d";
$xa-var-icon-sea-serpent: "\e95e";
$xa-var-icon-scythe: "\e95f";
$xa-var-icon-scroll-unfurled: "\e960";
$xa-var-icon-scorpio: "\e961";
$xa-var-icon-save: "\e962";
$xa-var-icon-sattelite: "\e963";
$xa-var-icon-sapphire: "\e964";
$xa-var-icon-sagittarius: "\e965";
$xa-var-icon-rune-stone: "\e966";
$xa-var-icon-rss: "\e967";
$xa-var-icon-round-shield: "\e968";
$xa-var-icon-round-bottom-flask: "\e969";
$xa-var-icon-robot-arm: "\e96a";
$xa-var-icon-roast-chicken: "\e96b";
$xa-var-icon-ringing-bell: "\e96c";
$xa-var-icon-rifle: "\e96d";
$xa-var-icon-revolver: "\e96e";
$xa-var-icon-reverse: "\e96f";
$xa-var-icon-repair: "\e970";
$xa-var-icon-relic-blade: "\e971";
$xa-var-icon-regeneration: "\e972";
$xa-var-icon-recycle: "\e973";
$xa-var-icon-reactor: "\e974";
$xa-var-icon-raven: "\e975";
$xa-var-icon-radioactive: "\e976";
$xa-var-icon-radial-balance: "\e977";
$xa-var-icon-radar-dish: "\e978";
$xa-var-icon-rabbit: "\e979";
$xa-var-icon-quill-ink: "\e97a";
$xa-var-icon-queen-crown: "\e97b";
$xa-var-icon-pyramids: "\e97c";
$xa-var-icon-potion: "\e97d";
$xa-var-icon-poison-cloud: "\e97e";
$xa-var-icon-podium: "\e97f";
$xa-var-icon-player: "\e980";
$xa-var-icon-player-thunder-struck: "\e981";
$xa-var-icon-player-teleport: "\e982";
$xa-var-icon-player-shot: "\e983";
$xa-var-icon-player-pyromaniac: "\e984";
$xa-var-icon-player-pain: "\e985";
$xa-var-icon-player-lift: "\e986";
$xa-var-icon-player-king: "\e987";
$xa-var-icon-player-dodge: "\e988";
$xa-var-icon-player-despair: "\e989";
$xa-var-icon-plain-dagger: "\e98a";
$xa-var-icon-pisces: "\e98b";
$xa-var-icon-ping-pong: "\e98c";
$xa-var-icon-pine-tree: "\e98d";
$xa-var-icon-pills: "\e98e";
$xa-var-icon-pill: "\e98f";
$xa-var-icon-perspective-dice-three: "\e990";
$xa-var-icon-perspective-dice-six: "\e991";
$xa-var-icon-perspective-dice-six-two: "\e992";
$xa-var-icon-perspective-dice-random: "\e993";
$xa-var-icon-perspective-dice-one: "\e994";
$xa-var-icon-perspective-dice-four: "\e995";
$xa-var-icon-perspective-dice-five: "\e996";
$xa-var-icon-pawprint: "\e997";
$xa-var-icon-pawn: "\e998";
$xa-var-icon-palm-tree: "\e999";
$xa-var-icon-overmind: "\e99a";
$xa-var-icon-overhead: "\e99b";
$xa-var-icon-ophiuchus: "\e99c";
$xa-var-icon-on-target: "\e99d";
$xa-var-icon-omega: "\e99e";
$xa-var-icon-octopus: "\e99f";
$xa-var-icon-ocean-emblem: "\e9a0";
$xa-var-icon-ocarina: "\e9a1";
$xa-var-icon-nuclear: "\e9a2";
$xa-var-icon-noose: "\e9a3";
$xa-var-icon-nodular: "\e9a4";
$xa-var-icon-nails: "\e9a5";
$xa-var-icon-musket: "\e9a6";
$xa-var-icon-muscle-up: "\e9a7";
$xa-var-icon-muscle-fat: "\e9a8";
$xa-var-icon-mp5: "\e9a9";
$xa-var-icon-moon-sun: "\e9aa";
$xa-var-icon-montains: "\e9ab";
$xa-var-icon-monster-skull: "\e9ac";
$xa-var-icon-mirror: "\e9ad";
$xa-var-icon-mining-diamonds: "\e9ae";
$xa-var-icon-mine-wagon: "\e9af";
$xa-var-icon-microphone: "\e9b0";
$xa-var-icon-metal-gate: "\e9b1";
$xa-var-icon-medical-pack: "\e9b2";
$xa-var-icon-meat: "\e9b3";
$xa-var-icon-meat-hook: "\e9b4";
$xa-var-icon-match: "\e9b5";
$xa-var-icon-mass-driver: "\e9b6";
$xa-var-icon-magnet: "\e9b7";
$xa-var-icon-maggot: "\e9b8";
$xa-var-icon-love-howl: "\e9b9";
$xa-var-icon-locked-fortress: "\e9ba";
$xa-var-icon-load: "\e9bb";
$xa-var-icon-lit-candelabra: "\e9bc";
$xa-var-icon-lion: "\e9bd";
$xa-var-icon-lightning: "\e9be";
$xa-var-icon-lightning-trio: "\e9bf";
$xa-var-icon-lightning-sword: "\e9c0";
$xa-var-icon-lightning-storm: "\e9c1";
$xa-var-icon-lightning-bolt: "\e9c2";
$xa-var-icon-lighthouse: "\e9c3";
$xa-var-icon-light-bulb: "\e9c4";
$xa-var-icon-libra: "\e9c5";
$xa-var-icon-lever: "\e9c6";
$xa-var-icon-level-two: "\e9c7";
$xa-var-icon-level-two-advanced: "\e9c8";
$xa-var-icon-level-three: "\e9c9";
$xa-var-icon-level-three-advanced: "\e9ca";
$xa-var-icon-level-four: "\e9cb";
$xa-var-icon-level-four-advanced: "\e9cc";
$xa-var-icon-leo: "\e9cd";
$xa-var-icon-leaf: "\e9ce";
$xa-var-icon-lava: "\e9cf";
$xa-var-icon-laser-site: "\e9d0";
$xa-var-icon-laser-blast: "\e9d1";
$xa-var-icon-large-hammer: "\e9d2";
$xa-var-icon-lantern-flame: "\e9d3";
$xa-var-icon-kunai: "\e9d4";
$xa-var-icon-knight-helmet: "\e9d5";
$xa-var-icon-knife: "\e9d6";
$xa-var-icon-knife-fork: "\e9d7";
$xa-var-icon-kitchen-knives: "\e9d8";
$xa-var-icon-key: "\e9d9";
$xa-var-icon-key-basic: "\e9da";
$xa-var-icon-kettlebell: "\e9db";
$xa-var-icon-kaleidoscope: "\e9dc";
$xa-var-icon-jigsaw-piece: "\e9dd";
$xa-var-icon-jetpack: "\e9de";
$xa-var-icon-interdiction: "\e9df";
$xa-var-icon-insect-jaws: "\e9e0";
$xa-var-icon-incense: "\e9e1";
$xa-var-icon-implosion: "\e9e2";
$xa-var-icon-ice-cube: "\e9e3";
$xa-var-icon-hydra: "\e9e4";
$xa-var-icon-hydra-shot: "\e9e5";
$xa-var-icon-hourglass: "\e9e6";
$xa-var-icon-hot-surface: "\e9e7";
$xa-var-icon-hospital-cross: "\e9e8";
$xa-var-icon-horseshoe: "\e9e9";
$xa-var-icon-horns: "\e9ea";
$xa-var-icon-horn-call: "\e9eb";
$xa-var-icon-hood: "\e9ec";
$xa-var-icon-honeycomb: "\e9ed";
$xa-var-icon-hole-ladder: "\e9ee";
$xa-var-icon-hive-emblem: "\e9ef";
$xa-var-icon-help: "\e9f0";
$xa-var-icon-helmet: "\e9f1";
$xa-var-icon-heavy-shield: "\e9f2";
$xa-var-icon-heavy-fall: "\e9f3";
$xa-var-icon-heat-haze: "\e9f4";
$xa-var-icon-hearts: "\e9f5";
$xa-var-icon-hearts-card: "\e9f6";
$xa-var-icon-heartburn: "\e9f7";
$xa-var-icon-heart-tower: "\e9f8";
$xa-var-icon-heart-bottle: "\e9f9";
$xa-var-icon-health: "\e9fa";
$xa-var-icon-health-increase: "\e9fb";
$xa-var-icon-health-decrease: "\e9fc";
$xa-var-icon-harpoon-trident: "\e9fd";
$xa-var-icon-hand: "\e9fe";
$xa-var-icon-hand-saw: "\e9ff";
$xa-var-icon-hand-emblem: "\ea00";
$xa-var-icon-hammer: "\ea01";
$xa-var-icon-hammer-drop: "\ea02";
$xa-var-icon-halberd: "\ea03";
$xa-var-icon-guillotine: "\ea04";
$xa-var-icon-guarded-tower: "\ea05";
$xa-var-icon-groundbreaker: "\ea06";
$xa-var-icon-grenade: "\ea07";
$xa-var-icon-grass: "\ea08";
$xa-var-icon-grass-patch: "\ea09";
$xa-var-icon-grappling-hook: "\ea0a";
$xa-var-icon-gold-bar: "\ea0b";
$xa-var-icon-gloop: "\ea0c";
$xa-var-icon-glass-heart: "\ea0d";
$xa-var-icon-gemini: "\ea0e";
$xa-var-icon-gem: "\ea0f";
$xa-var-icon-gem-pendant: "\ea10";
$xa-var-icon-gecko: "\ea11";
$xa-var-icon-gears: "\ea12";
$xa-var-icon-gear-heart: "\ea13";
$xa-var-icon-gear-hammer: "\ea14";
$xa-var-icon-gavel: "\ea15";
$xa-var-icon-gamepad-cross: "\ea16";
$xa-var-icon-frozen-arrow: "\ea17";
$xa-var-icon-frostfire: "\ea18";
$xa-var-icon-frost-emblem: "\ea19";
$xa-var-icon-fox: "\ea1a";
$xa-var-icon-forward: "\ea1b";
$xa-var-icon-forging: "\ea1c";
$xa-var-icon-footprint: "\ea1d";
$xa-var-icon-food-chain: "\ea1e";
$xa-var-icon-focused-lightning: "\ea1f";
$xa-var-icon-fluffy-swirl: "\ea20";
$xa-var-icon-flowers: "\ea21";
$xa-var-icon-flower: "\ea22";
$xa-var-icon-flat-hammer: "\ea23";
$xa-var-icon-flask: "\ea24";
$xa-var-icon-flaming-trident: "\ea25";
$xa-var-icon-flaming-claw: "\ea26";
$xa-var-icon-flaming-arrow: "\ea27";
$xa-var-icon-flame-symbol: "\ea28";
$xa-var-icon-fizzing-flask: "\ea29";
$xa-var-icon-fish: "\ea2a";
$xa-var-icon-fireball-sword: "\ea2b";
$xa-var-icon-fire: "\ea2c";
$xa-var-icon-fire-symbol: "\ea2d";
$xa-var-icon-fire-shield: "\ea2e";
$xa-var-icon-fire-ring: "\ea2f";
$xa-var-icon-fire-breath: "\ea30";
$xa-var-icon-fire-bomb: "\ea31";
$xa-var-icon-fedora: "\ea32";
$xa-var-icon-feathered-wing: "\ea33";
$xa-var-icon-feather-wing: "\ea34";
$xa-var-icon-fast-ship: "\ea35";
$xa-var-icon-falling: "\ea36";
$xa-var-icon-fall-down: "\ea37";
$xa-var-icon-fairy: "\ea38";
$xa-var-icon-fairy-wand: "\ea39";
$xa-var-icon-eyeball: "\ea3a";
$xa-var-icon-eye-shield: "\ea3b";
$xa-var-icon-eye-monster: "\ea3c";
$xa-var-icon-explosive-materials: "\ea3d";
$xa-var-icon-explosion: "\ea3e";
$xa-var-icon-energise: "\ea3f";
$xa-var-icon-emerald: "\ea40";
$xa-var-icon-eggplant: "\ea41";
$xa-var-icon-egg: "\ea42";
$xa-var-icon-egg-pod: "\ea43";
$xa-var-icon-duel: "\ea44";
$xa-var-icon-droplets: "\ea45";
$xa-var-icon-droplet: "\ea46";
$xa-var-icon-droplet-splash: "\ea47";
$xa-var-icon-dripping-sword: "\ea48";
$xa-var-icon-dripping-knife: "\ea49";
$xa-var-icon-dripping-blade: "\ea4a";
$xa-var-icon-drill: "\ea4b";
$xa-var-icon-dragonfly: "\ea4c";
$xa-var-icon-dragon: "\ea4d";
$xa-var-icon-dragon-wing: "\ea4e";
$xa-var-icon-dragon-breath: "\ea4f";
$xa-var-icon-doubled: "\ea50";
$xa-var-icon-double-team: "\ea51";
$xa-var-icon-diving-dagger: "\ea52";
$xa-var-icon-divert: "\ea53";
$xa-var-icon-dinosaur: "\ea54";
$xa-var-icon-dice-two: "\ea55";
$xa-var-icon-dice-three: "\ea56";
$xa-var-icon-dice-six: "\ea57";
$xa-var-icon-dice-one: "\ea58";
$xa-var-icon-dice-four: "\ea59";
$xa-var-icon-dice-five: "\ea5a";
$xa-var-icon-diamonds: "\ea5b";
$xa-var-icon-diamonds-card: "\ea5c";
$xa-var-icon-diamond: "\ea5d";
$xa-var-icon-desert-skull: "\ea5e";
$xa-var-icon-dervish-swords: "\ea5f";
$xa-var-icon-demolish: "\ea60";
$xa-var-icon-defibrilate: "\ea61";
$xa-var-icon-decapitation: "\ea62";
$xa-var-icon-death-skull: "\ea63";
$xa-var-icon-dead-tree: "\ea64";
$xa-var-icon-daisy: "\ea65";
$xa-var-icon-daggers: "\ea66";
$xa-var-icon-cycle: "\ea67";
$xa-var-icon-cut-palm: "\ea68";
$xa-var-icon-cubes: "\ea69";
$xa-var-icon-crystals: "\ea6a";
$xa-var-icon-crystal-wand: "\ea6b";
$xa-var-icon-crystal-cluster: "\ea6c";
$xa-var-icon-crystal-ball: "\ea6d";
$xa-var-icon-crush: "\ea6e";
$xa-var-icon-crowned-heart: "\ea6f";
$xa-var-icon-crown: "\ea70";
$xa-var-icon-crown-of-thorns: "\ea71";
$xa-var-icon-crossed-swords: "\ea72";
$xa-var-icon-crossed-sabres: "\ea73";
$xa-var-icon-crossed-pistols: "\ea74";
$xa-var-icon-crossed-bones: "\ea75";
$xa-var-icon-crossed-axes: "\ea76";
$xa-var-icon-crossbow: "\ea77";
$xa-var-icon-croc-sword: "\ea78";
$xa-var-icon-cracked-shield: "\ea79";
$xa-var-icon-cracked-helm: "\ea7a";
$xa-var-icon-crab-claw: "\ea7b";
$xa-var-icon-corked-tube: "\ea7c";
$xa-var-icon-compass: "\ea7d";
$xa-var-icon-cold-heart: "\ea7e";
$xa-var-icon-cog: "\ea7f";
$xa-var-icon-cog-wheel: "\ea80";
$xa-var-icon-coffee-mug: "\ea81";
$xa-var-icon-cluster-bomb: "\ea82";
$xa-var-icon-clovers: "\ea83";
$xa-var-icon-clovers-card: "\ea84";
$xa-var-icon-clover: "\ea85";
$xa-var-icon-clockwork: "\ea86";
$xa-var-icon-cloak-and-dagger: "\ea87";
$xa-var-icon-circular-shield: "\ea88";
$xa-var-icon-circular-saw: "\ea89";
$xa-var-icon-circle-of-circles: "\ea8a";
$xa-var-icon-chicken-leg: "\ea8b";
$xa-var-icon-chessboard: "\ea8c";
$xa-var-icon-chemical-arrow: "\ea8d";
$xa-var-icon-cheese: "\ea8e";
$xa-var-icon-chain: "\ea8f";
$xa-var-icon-cat: "\ea90";
$xa-var-icon-castle-flag: "\ea91";
$xa-var-icon-castle-emblem: "\ea92";
$xa-var-icon-carrot: "\ea93";
$xa-var-icon-capricorn: "\ea94";
$xa-var-icon-capitol: "\ea95";
$xa-var-icon-cannon-shot: "\ea96";
$xa-var-icon-candle: "\ea97";
$xa-var-icon-candle-fire: "\ea98";
$xa-var-icon-cancer: "\ea99";
$xa-var-icon-cancel: "\ea9a";
$xa-var-icon-campfire: "\ea9b";
$xa-var-icon-butterfly: "\ea9c";
$xa-var-icon-burst-blob: "\ea9d";
$xa-var-icon-burning-meteor: "\ea9e";
$xa-var-icon-burning-eye: "\ea9f";
$xa-var-icon-burning-embers: "\eaa0";
$xa-var-icon-burning-book: "\eaa1";
$xa-var-icon-bullets: "\eaa2";
$xa-var-icon-bubbling-potion: "\eaa3";
$xa-var-icon-broken-skull: "\eaa4";
$xa-var-icon-broken-shield: "\eaa5";
$xa-var-icon-broken-heart: "\eaa6";
$xa-var-icon-broken-bottle: "\eaa7";
$xa-var-icon-broken-bone: "\eaa8";
$xa-var-icon-broadsword: "\eaa9";
$xa-var-icon-broadhead-arrow: "\eaaa";
$xa-var-icon-bridge: "\eaab";
$xa-var-icon-brandy-bottle: "\eaac";
$xa-var-icon-brain-freeze: "\eaad";
$xa-var-icon-bowling-pin: "\eaae";
$xa-var-icon-bowie-knife: "\eaaf";
$xa-var-icon-bottom-right: "\eab0";
$xa-var-icon-bottled-bolt: "\eab1";
$xa-var-icon-bottle-vapors: "\eab2";
$xa-var-icon-boot-stomp: "\eab3";
$xa-var-icon-boomerang: "\eab4";
$xa-var-icon-book: "\eab5";
$xa-var-icon-bone-knife: "\eab6";
$xa-var-icon-bone-bite: "\eab7";
$xa-var-icon-bombs: "\eab8";
$xa-var-icon-bomb-explosion: "\eab9";
$xa-var-icon-bolt-shield: "\eaba";
$xa-var-icon-bleeding-hearts: "\eabb";
$xa-var-icon-bleeding-eye: "\eabc";
$xa-var-icon-blaster: "\eabd";
$xa-var-icon-blast: "\eabe";
$xa-var-icon-blade-bite: "\eabf";
$xa-var-icon-bird-mask: "\eac0";
$xa-var-icon-bird-claw: "\eac1";
$xa-var-icon-biohazard: "\eac2";
$xa-var-icon-bell: "\eac3";
$xa-var-icon-beetle: "\eac4";
$xa-var-icon-beer: "\eac5";
$xa-var-icon-bear-trap: "\eac6";
$xa-var-icon-beam-wake: "\eac7";
$xa-var-icon-batwings: "\eac8";
$xa-var-icon-battery-white: "\eac9";
$xa-var-icon-battery-positive: "\eaca";
$xa-var-icon-battery-negative: "\eacb";
$xa-var-icon-battery-black: "\eacc";
$xa-var-icon-battery-75: "\eacd";
$xa-var-icon-battery-50: "\eace";
$xa-var-icon-battery-25: "\eacf";
$xa-var-icon-battery-100: "\ead0";
$xa-var-icon-battery-0: "\ead1";
$xa-var-icon-batteries: "\ead2";
$xa-var-icon-battered-axe: "\ead3";
$xa-var-icon-bat-sword: "\ead4";
$xa-var-icon-barrier: "\ead5";
$xa-var-icon-barbed-arrow: "\ead6";
$xa-var-icon-ball: "\ead7";
$xa-var-icon-axe: "\ead8";
$xa-var-icon-axe-swing: "\ead9";
$xa-var-icon-aware: "\eada";
$xa-var-icon-aura: "\eadb";
$xa-var-icon-arson: "\eadc";
$xa-var-icon-arrow-flights: "\eadd";
$xa-var-icon-arrow-cluster: "\eade";
$xa-var-icon-aries: "\eadf";
$xa-var-icon-arena: "\eae0";
$xa-var-icon-archery-target: "\eae1";
$xa-var-icon-archer: "\eae2";
$xa-var-icon-arcane-mask: "\eae3";
$xa-var-icon-aquarius: "\eae4";
$xa-var-icon-apple: "\eae5";
$xa-var-icon-anvil: "\eae6";
$xa-var-icon-ankh: "\eae7";
$xa-var-icon-angel-wings: "\eae8";
$xa-var-icon-anchor: "\eae9";
$xa-var-icon-ammo-bag: "\eaea";
$xa-var-icon-alligator-clip: "\eaeb";
$xa-var-icon-all-for-one: "\eaec";
$xa-var-icon-alien-fire: "\eaed";
$xa-var-icon-acorn: "\eaee";
$xa-var-icon-acid: "\eaef";


